<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <span class="brand">
        <span class="brand__mark" aria-hidden="true">
          <ion-icon name="document-text-outline"></ion-icon>
        </span>
        <span>{{ appName }}</span>
      </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        class="language-button"
        (click)="openLanguageSelector()"
        [disabled]="actionsDisabled()"
        [attr.aria-label]="i18n.t('language.openSelector')"
      >
        <ion-icon name="language-outline" slot="start" aria-hidden="true"></ion-icon>
        {{ currentLanguageLabel() }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
